
<div class="row">
<section class="main col-md-9">
<article>
<h2>About</h2>
<p>Hello, I am Aryan Arora, a student in Seneca College, Toronto. I am studying Computer Programming and Analysis program. I have so much interest in programming and also in computers overall. I am looking forward to grown in this field. My future plan is to study more in this field to gain more and more knowlegde and I'll try to use that knowlegde to do something unique or new. I also like to play competitive computer games and used to spend a lot of time in gaming, but now I am focused in studies and some work.</p>
</article>
</section>
<aside class="col-md-3">
<h2>Coming Soon</h2>
<p>As I am Studying and moving ahead in this program, I am going to work on some projects and there will be something to new to learn from those projects in future.</p>
</aside>
</div>
